<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Http" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Owin" version="3.1.8" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.1" targetFramework="net471" />
  <package id="Nancy" version="2.0.0-clinteastwood" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net471" />
</packages>