<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Diagnostics" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Mvc.ViewFeatures" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Server.IISIntegration" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Server.Kestrel" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.StaticFiles" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.0.0" targetFramework="net471" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net471" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net471" />
</packages>
